* {
  --glow-color: #d9b0ff;
  --glow-spread-color: #bf7bffc7;
  --enhanced-glow-color: #e7ceff;
  --btn-color: #643d88;
  --btn-color-2: #c180ff;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.homne {
  display: flex;
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  color: #ccc;
  outline: none;
  background-color: transparent;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: var(--glow-spread-color);
  color: #ccc;
}

.input::placeholder {
  color: #777;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}


/* Button Primary */

.BtnPrimary {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-family: inherit;
  color: #fff;
  width: 11rem;
  height: 2.8rem;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, var(--btn-color), var(--glow-spread-color), var(--enhanced-glow-color), var(--btn-color));
  background-size: 300%;
  border-radius: 30px;
  cursor: pointer;
  z-index: 1;
  margin-top: .5rem;
}

.BtnPrimary:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.BtnPrimary:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, var(--btn-color), var(--glow-spread-color), var(--enhanced-glow-color), var(--btn-color));
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.BtnPrimary:hover::before {
  filter: blur(20px);
}

.BtnPrimary:active {
  background: linear-gradient(32deg, var(--btn-color), var(--glow-spread-color), var(--enhanced-glow-color), var(--btn-color));
}

/* Button Secondary */

.btnSecondary {
  border: 0.25em solid var(--glow-color);
  padding: 1em 3.4em;
  color: var(--glow-color);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  background-color: var(--btn-color);
  border-radius: 10rem;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  margin-left: 12rem;
  cursor: pointer;
}

.btnSecondary::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.btnSecondary:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.btnSecondary:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}


@media (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
  }
}

/* Button Submit */

.btn-Submit {
  border: none;
  width: 150px;
  height: 45px;
  color: #fff;
  font-family: "Arial";
  letter-spacing: 1.2px;
  font-weight: 500;
  margin-top: 2rem;
  z-index: 1;
  display: flex;
  background: #000;
  position: relative;
  cursor: pointer;
}

.btn-Submit p {
  margin: 0 auto;
  align-self: center;
  font-size: 1.5em;
  text-align: center;
}

.btn-Submit::after,
.btn-Submit::before {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  clip-path: polygon(
    0% 74%,
    4% 75%,
    8% 76%,
    11% 77%,
    15% 78%,
    20% 78%,
    25% 77%,
    32% 77%,
    37% 75%,
    40% 74%,
    43% 74%,
    46% 73%,
    52% 72%,
    57% 72%,
    65% 74%,
    66% 75%,
    71% 78%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  background: var(--glow-spread-color);
  transition: 0.2s cubic-bezier(0.02, 0.02, 0.23, 0.73);
}

.btn-Submit::after {
  bottom: 0;
}

.btn-Submit::before {
  transform: rotate(180deg);
}

.btn-Submit:hover::after {
  clip-path: path(
    "M0 199.88C8.33 270.71 16.67 306.13 25 306.13C37.5 306.13 35.91 231.4 50 231.13C64.09 230.85 62.5 284.25 75 284.25C87.5 284.25 87.17 208.05 100 212.38C112.83 216.7 112.71 300.8 125 300.47C137.29 300.13 137.76 239.04 150.48 237.38C163.19 235.71 162.16 293.63 174.54 293.63C182.79 293.63 191.28 262.38 200 199.88L200 0.13L0 0.13L0 199.88Z"
  );
  height: 30%;
}

.btn-Submit:hover::before {
  clip-path: path(
    "M0 199.88C8.33 270.71 16.67 306.13 25 306.13C37.5 306.13 35.91 231.4 50 231.13C64.09 230.85 62.5 284.25 75 284.25C87.5 284.25 87.17 208.05 100 212.38C112.83 216.7 112.71 300.8 125 300.47C137.29 300.13 137.76 239.04 150.48 237.38C163.19 235.71 162.16 293.63 174.54 293.63C182.79 293.63 191.28 262.38 200 199.88L200 0.13L0 0.13L0 199.88Z"
  );
  height: 100%;
}

/* Button Start */

.btnStart {
  position: relative;
  font-size: 14px;
  letter-spacing: 3px;
  height: 3em;
  padding: 0 3em;
  margin-top: 2rem;
  border: none;
  background-color: var(--btn-color);
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.btnStart::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background: var(--btn-color);
  background: linear-gradient(90deg, var(--btn-color) 20%, var(--glow-color) 100%);
  transition: 0.2s;
}

.btnStart .label {
  position: relative;
}

.btnStart .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  position: absolute;
  top: 3em;
  right: 0;
  opacity: 0;
  transition: 0.4s;
}

.btnStart:hover::before {
  height: 100%;
}

.btnStart:hover .icon {
  top: 0;
  opacity: 1;
}


.allTasbeeh{
  width: 50%;
  cursor: pointer;
}

.tasbeeh-detaila{
  display: flex;
  gap: 70%;
  justify-content: center;
  color: white;
  width: 100%;
  border: solid 1px var(--enhanced-glow-color);
  background-color: var(--btn-color);
}

.tasbeehCount {
  display: flex;
  gap: 5%;
  justify-content: center;
  width: 100%;
}

.add{
  width: 3%;
  padding: .6rem;
  border: none;
  background-color: var(--enhanced-glow-color);
}